In [31]:
#1
import pandas as pd
import numpy as np
data = pd.read_csv('ratings.csv')
data.head(10)

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4
5        1     2077       4
6        1     2487       4
7        1     2900       5
8        1     3662       4
9        1     3922       5

In [34]:
#3
data1 = pd.unique(data['user_id'])[0:1000]
print(data1[:5])
data1[-5:]

[ 314  439  588 1169 1185]

array([25761, 27011, 30768, 31729, 31782])

In [35]:
rating = data[data['user_id'].isin(data1)]
rating

        book_id  user_id  rating
0             1      314       5
1             1      439       3
2             1      588       5
3             1     1169       4
4             1     1185       4
...         ...      ...     ...
981587     9999     6097       2
981588     9999     6397       3
981624     9999    25812       5
981722    10000    34787       5
981737    10000    42810       3

[133434 rows x 3 columns]

In [7]:
#task 2
from surprise import NormalPredictor
from surprise import Dataset
from surprise import Reader
from surprise import BaselineOnly
from surprise import accuracy
from surprise.model_selection import train_test_split

reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(rating[['user_id', 'book_id', 'rating']], reader)
trainset, testset = train_test_split(data, test_size=.25)

Base = BaselineOnly()
Base.fit(trainset)
predictions = Base.test(testset)
accuracy.rmse(predictions)

Estimating biases using als...
RMSE: 0.8577

0.8576862696386359

In [8]:
Normal = NormalPredictor()
Normal.fit(trainset)
predictions = Normal.test(testset)
accuracy.rmse(predictions)

RMSE: 1.3494

1.3494422685146288

In [123]:
pd.DataFrame(predictions)

         uid   iid  r_ui       est                    details
0      13195  2190   4.0  2.034011  {'was_impossible': False}
1      37393   342   2.0  3.870016  {'was_impossible': False}
2      37834   453   5.0  4.838218  {'was_impossible': False}
3       3263   344   5.0  3.461647  {'was_impossible': False}
4      15254   883   4.0  3.038231  {'was_impossible': False}
5      32490  4018   3.0  4.599311  {'was_impossible': False}
6      30871  3640   5.0  4.445910  {'was_impossible': False}
7      32649  2204   4.0  4.052261  {'was_impossible': False}
8      21360   127   4.0  2.874777  {'was_impossible': False}
9      50104  2362   5.0  4.791724  {'was_impossible': False}
10     35780  1266   4.0  4.244919  {'was_impossible': False}
11      4606  2043   5.0  5.000000  {'was_impossible': False}
12     52895  9488   4.0  4.291628  {'was_impossible': False}
13     40566    41   5.0  3.474249  {'was_impossible': False}
14     21713   998   5.0  3.610442  {'was_impossible': False}
15     34763  1881   4.0  3.386236  {'was_impossible': False}
16      2347  2193   3.0  2.170369  {'was_impossible': False}
17     17566  2306   3.0  4.519655  {'was_impossible': False}
18     26244   195   4.0  3.271611  {'was_impossible': False}
19     38766  1033   5.0  3.802722  {'was_impossible': False}
20     24845   586   4.0  4.763504  {'was_impossible': False}
21     14654  2815   3.0  3.316169  {'was_impossible': False}
22     15522   366   4.0  5.000000  {'was_impossible': False}
23     21217   179   3.0  4.463294  {'was_impossible': False}
24     36752  1716   3.0  3.021962  {'was_impossible': False}
25     46421  1068   5.0  5.000000  {'was_impossible': False}
26      4536  6500   5.0  3.081194  {'was_impossible': False}
27     14207  1908   3.0  2.582111  {'was_impossible': False}
28     23738  5447   4.0  4.837698  {'was_impossible': False}
29     27515  5003   5.0  2.823150  {'was_impossible': False}
...      ...   ...   ...       ...                        ...
33329  49138  2571   2.0  4.194766  {'was_impossible': False}
33330  53281   425   3.0  4.747466  {'was_impossible': False}
33331  11382  4258   5.0  4.837494  {'was_impossible': False}
33332  50101   238   5.0  1.572018  {'was_impossible': False}
33333   7610  3184   3.0  5.000000  {'was_impossible': False}
33334   4967  3979   3.0  4.781212  {'was_impossible': False}
33335   2056  2264   4.0  3.902885  {'was_impossible': False}
33336  48389  1221   3.0  5.000000  {'was_impossible': False}
33337  33872  1087   3.0  2.752830  {'was_impossible': False}
33338  30601   656   2.0  3.470354  {'was_impossible': False}
33339  19668   572   4.0  2.959186  {'was_impossible': False}
33340  44496  1448   1.0  5.000000  {'was_impossible': False}
33341  29732   595   5.0  4.471502  {'was_impossible': False}
33342  35824   482   4.0  4.338815  {'was_impossible': False}
33343  21237   669   3.0  3.466129  {'was_impossible': False}
33344  19171  2078   5.0  5.000000  {'was_impossible': False}
33345  50102    61   5.0  2.931242  {'was_impossible': False}
33346  35982   425   3.0  4.927002  {'was_impossible': False}
33347  20737    91   3.0  3.223251  {'was_impossible': False}
33348   9165   448   5.0  3.865064  {'was_impossible': False}
33349  50610   312   3.0  2.938310  {'was_impossible': False}
33350  16346   553   4.0  4.545049  {'was_impossible': False}
33351   4972  1834   3.0  3.981728  {'was_impossible': False}
33352  45811  1144   5.0  4.076894  {'was_impossible': False}
33353  41402  2257   2.0  3.790437  {'was_impossible': False}
33354  18550   257   4.0  5.000000  {'was_impossible': False}
33355  10662  4795   2.0  4.556851  {'was_impossible': False}
33356    274   520   5.0  2.914355  {'was_impossible': False}
33357  12874  1186   4.0  1.452470  {'was_impossible': False}
33358  23603  1631   2.0  4.698430  {'was_impossible': False}

[33359 rows x 5 columns]

In [9]:
#2
from surprise.model_selection import cross_validate

cross_validate(Normal, data, measures=['FCP', 'MAE'], cv=5, verbose=True)

Evaluating FCP, MAE of algorithm NormalPredictor on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
FCP (testset)     0.4928  0.4858  0.4918  0.4946  0.4947  0.4919  0.0033
MAE (testset)     1.0880  1.0846  1.0770  1.0836  1.0799  1.0826  0.0038
Fit time          0.19    0.21    0.22    0.21    0.22    0.21    0.01
Test time         0.30    0.33    0.33    0.28    0.30    0.31    0.02

{'test_fcp': array([0.49280772, 0.48577006, 0.49176597, 0.49459721, 0.49473875]),
 'test_mae': array([1.08796293, 1.08459798, 1.07700101, 1.0836137 , 1.07990045]),
 'fit_time': (0.19126629829406738,
  0.21148037910461426,
  0.21842122077941895,
  0.2141704559326172,
  0.21874070167541504),
 'test_time': (0.2953784465789795,
  0.3349289894104004,
  0.3338761329650879,
  0.28244686126708984,
  0.29691004753112793)}

In [11]:
cross_validate(Base, data, measures=['FCP', 'RMSE'], cv=5, verbose=True)

Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Evaluating FCP, RMSE of algorithm BaselineOnly on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
FCP (testset)     0.6121  0.6110  0.6126  0.6129  0.6118  0.6121  0.0007
RMSE (testset)    0.8632  0.8563  0.8549  0.8650  0.8576  0.8594  0.0040
Fit time          0.31    0.32    0.32    0.32    0.32    0.32    0.00
Test time         0.27    0.26    0.17    0.17    0.17    0.21    0.05

{'test_fcp': array([0.6121318 , 0.61096271, 0.61257576, 0.61288058, 0.61183035]),
 'test_rmse': array([0.86320701, 0.85626541, 0.85488157, 0.8650477 , 0.85755328]),
 'fit_time': (0.3117794990539551,
  0.3244009017944336,
  0.3217189311981201,
  0.3211359977722168,
  0.32106709480285645),
 'test_time': (0.27211785316467285,
  0.26079463958740234,
  0.17138338088989258,
  0.1684558391571045,
  0.16892480850219727)}

In [45]:
predframe = pd.DataFrame(predictions)
books_max = predframe[predframe['iid'] == predframe.groupby('iid')['iid'].count().max()]
books_max.index

Int64Index([   89,  1560,  2743,  3313,  3436,  5195,  5897,  6267,  7339,
             7706,  7825,  8557, 10006, 11541, 12881, 14408, 14971, 15367,
            16767, 17770, 18545, 19601, 19617, 22099, 23277, 23937, 24445,
            24764, 28372, 30342, 31049, 32285, 33223],
           dtype='int64')

In [44]:
book_info = rating[rating['book_id'].isin(books_max.index.tolist())]
book_info

        book_id  user_id  rating
8800         89      588       4
8801         89     1088       4
8802         89     1350       4
8803         89     2276       4
8804         89     2324       5
...         ...      ...     ...
764807     7706    42355       3
776300     7825    22190       5
776307     7825    25320       5
776321     7825    32918       3
846484     8557    29644       5

[161 rows x 3 columns]

In [30]:
full_trainset = data.build_full_trainset()

Base = BaselineOnly()
Base.fit(trainset)

def pred_f(uid):
  pred = Base.predict(uid, iid = predframe.groupby('iid')['iid'].count().max(), verbose=True)

result_4 = book_info['user_id'].apply(pred_f,0)

Estimating biases using als...
user: 314        item: 35         r_ui = None   est = 3.44   {'was_impossible': False}
user: 439        item: 35         r_ui = None   est = 3.16   {'was_impossible': False}
user: 588        item: 35         r_ui = None   est = 3.48   {'was_impossible': False}
user: 1169       item: 35         r_ui = None   est = 3.53   {'was_impossible': False}
user: 1952       item: 35         r_ui = None   est = 4.13   {'was_impossible': False}
user: 3087       item: 35         r_ui = None   est = 3.72   {'was_impossible': False}
user: 3641       item: 35         r_ui = None   est = 4.33   {'was_impossible': False}
user: 3922       item: 35         r_ui = None   est = 3.90   {'was_impossible': False}
user: 5115       item: 35         r_ui = None   est = 3.31   {'was_impossible': False}
user: 5379       item: 35         r_ui = None   est = 3.74   {'was_impossible': False}
user: 5461       item: 35         r_ui = None   est = 3.93   {'was_impossible': False}
user: 6063       item: 35         r_ui = None   est = 3.70   {'was_impossible': False}
user: 6252       item: 35         r_ui = None   est = 3.23   {'was_impossible': False}
user: 6342       item: 35         r_ui = None   est = 3.62   {'was_impossible': False}
user: 7001       item: 35         r_ui = None   est = 3.90   {'was_impossible': False}
user: 7563       item: 35         r_ui = None   est = 3.35   {'was_impossible': False}
user: 8370       item: 35         r_ui = None   est = 3.33   {'was_impossible': False}
user: 8440       item: 35         r_ui = None   est = 3.37   {'was_impossible': False}
user: 8484       item: 35         r_ui = None   est = 3.92   {'was_impossible': False}
user: 9246       item: 35         r_ui = None   est = 2.85   {'was_impossible': False}
user: 9722       item: 35         r_ui = None   est = 3.17   {'was_impossible': False}
user: 10140      item: 35         r_ui = None   est = 2.95   {'was_impossible': False}
user: 10402      item: 35         r_ui = None   est = 3.29   {'was_impossible': False}
user: 11285      item: 35         r_ui = None   est = 3.24   {'was_impossible': False}
user: 11691      item: 35         r_ui = None   est = 3.72   {'was_impossible': False}
user: 11927      item: 35         r_ui = None   est = 3.57   {'was_impossible': False}
user: 12381      item: 35         r_ui = None   est = 3.30   {'was_impossible': False}
user: 12946      item: 35         r_ui = None   est = 3.96   {'was_impossible': False}
user: 13282      item: 35         r_ui = None   est = 4.14   {'was_impossible': False}
user: 13360      item: 35         r_ui = None   est = 2.72   {'was_impossible': False}
user: 13378      item: 35         r_ui = None   est = 4.15   {'was_impossible': False}
user: 13544      item: 35         r_ui = None   est = 3.55   {'was_impossible': False}
user: 13991      item: 35         r_ui = None   est = 3.89   {'was_impossible': False}
user: 14192      item: 35         r_ui = None   est = 3.76   {'was_impossible': False}
user: 14248      item: 35         r_ui = None   est = 3.74   {'was_impossible': False}
user: 14603      item: 35         r_ui = None   est = 3.71   {'was_impossible': False}
user: 15494      item: 35         r_ui = None   est = 3.24   {'was_impossible': False}
user: 15748      item: 35         r_ui = None   est = 3.45   {'was_impossible': False}
user: 16177      item: 35         r_ui = None   est = 4.05   {'was_impossible': False}
user: 16913      item: 35         r_ui = None   est = 3.78   {'was_impossible': False}
user: 17228      item: 35         r_ui = None   est = 4.28   {'was_impossible': False}
user: 17242      item: 35         r_ui = None   est = 3.85   {'was_impossible': False}
user: 17434      item: 35         r_ui = None   est = 3.65   {'was_impossible': False}
user: 18031      item: 35         r_ui = None   est = 4.13   {'was_impossible': False}
user: 18798      item: 35         r_ui = None   est = 3.37   {'was_impossible': False}
user: 19526      item: 35         r_ui = None   est = 4.10   {'was_impossible': False}
user: 19942      item: 35         r_ui = None   est = 3.71   {'was_impossible': False}
user: 20076      item: 35         r_ui = None   est = 3.11   {'was_impossible': False}
user: 21487      item: 35         r_ui = None   est = 3.56   {'was_impossible': False}
user: 21713      item: 35         r_ui = None   est = 3.97   {'was_impossible': False}
user: 21733      item: 35         r_ui = None   est = 3.01   {'was_impossible': False}
user: 23576      item: 35         r_ui = None   est = 3.18   {'was_impossible': False}
user: 23612      item: 35         r_ui = None   est = 3.44   {'was_impossible': False}
user: 24389      item: 35         r_ui = None   est = 3.87   {'was_impossible': False}
user: 24834      item: 35         r_ui = None   est = 4.51   {'was_impossible': False}
user: 24845      item: 35         r_ui = None   est = 4.01   {'was_impossible': False}
user: 26097      item: 35         r_ui = None   est = 3.37   {'was_impossible': False}
user: 26398      item: 35         r_ui = None   est = 3.56   {'was_impossible': False}
user: 26579      item: 35         r_ui = None   est = 2.87   {'was_impossible': False}
user: 27027      item: 35         r_ui = None   est = 3.35   {'was_impossible': False}
user: 27499      item: 35         r_ui = None   est = 4.16   {'was_impossible': False}
user: 27612      item: 35         r_ui = None   est = 4.14   {'was_impossible': False}
user: 29703      item: 35         r_ui = None   est = 3.91   {'was_impossible': False}
user: 30313      item: 35         r_ui = None   est = 3.95   {'was_impossible': False}
user: 30871      item: 35         r_ui = None   est = 4.43   {'was_impossible': False}
user: 31001      item: 35         r_ui = None   est = 4.16   {'was_impossible': False}
user: 33065      item: 35         r_ui = None   est = 3.77   {'was_impossible': False}
user: 34688      item: 35         r_ui = None   est = 3.11   {'was_impossible': False}
user: 36099      item: 35         r_ui = None   est = 4.35   {'was_impossible': False}
user: 37284      item: 35         r_ui = None   est = 3.56   {'was_impossible': False}
user: 37690      item: 35         r_ui = None   est = 3.63   {'was_impossible': False}
user: 37834      item: 35         r_ui = None   est = 3.84   {'was_impossible': False}
user: 38080      item: 35         r_ui = None   est = 3.65   {'was_impossible': False}
user: 40126      item: 35         r_ui = None   est = 3.65   {'was_impossible': False}
user: 40490      item: 35         r_ui = None   est = 4.20   {'was_impossible': False}
user: 42508      item: 35         r_ui = None   est = 3.86   {'was_impossible': False}
user: 42574      item: 35         r_ui = None   est = 4.33   {'was_impossible': False}
user: 42810      item: 35         r_ui = None   est = 3.23   {'was_impossible': False}
user: 43602      item: 35         r_ui = None   est = 3.82   {'was_impossible': False}
user: 44243      item: 35         r_ui = None   est = 3.52   {'was_impossible': False}
user: 44397      item: 35         r_ui = None   est = 4.30   {'was_impossible': False}
user: 45554      item: 35         r_ui = None   est = 3.79   {'was_impossible': False}
user: 46482      item: 35         r_ui = None   est = 4.06   {'was_impossible': False}
user: 46977      item: 35         r_ui = None   est = 3.22   {'was_impossible': False}
user: 47476      item: 35         r_ui = None   est = 2.99   {'was_impossible': False}
user: 48482      item: 35         r_ui = None   est = 3.14   {'was_impossible': False}
user: 48559      item: 35         r_ui = None   est = 3.95   {'was_impossible': False}
user: 49288      item: 35         r_ui = None   est = 4.69   {'was_impossible': False}
user: 49289      item: 35         r_ui = None   est = 4.71   {'was_impossible': False}
user: 49295      item: 35         r_ui = None   est = 4.70   {'was_impossible': False}
user: 49297      item: 35         r_ui = None   est = 4.70   {'was_impossible': False}
user: 50096      item: 35         r_ui = None   est = 4.68   {'was_impossible': False}
user: 50101      item: 35         r_ui = None   est = 4.68   {'was_impossible': False}
user: 50102      item: 35         r_ui = None   est = 4.68   {'was_impossible': False}
user: 50104      item: 35         r_ui = None   est = 4.69   {'was_impossible': False}
user: 50133      item: 35         r_ui = None   est = 4.70   {'was_impossible': False}
user: 51166      item: 35         r_ui = None   est = 3.85   {'was_impossible': False}
user: 51838      item: 35         r_ui = None   est = 3.88   {'was_impossible': False}
user: 52036      item: 35         r_ui = None   est = 3.22   {'was_impossible': False}
user: 53292      item: 35         r_ui = None   est = 4.69   {'was_impossible': False}

In [79]:
from surprise.model_selection import KFold
from surprise.model_selection import LeaveOneOut
from surprise.model_selection import RepeatedKFold

kf = KFold(n_splits=5)
loo = LeaveOneOut(n_splits=5)
rkf = RepeatedKFold(n_splits=3)

kf_results = []
loo_results = []
rkf_results = []
algo = BaselineOnly()

for trainset, testset in kf.split(data):
    algo.fit(trainset)
    predictions = algo.test(testset)
    kf_results.append(accuracy.rmse(predictions, verbose=True))

for trainset, testset in loo.split(data):  
    algo.fit(trainset)
    predictions = algo.test(testset)
    loo_results.append(accuracy.rmse(predictions, verbose=True))
    
for trainset, testset in rkf.split(data):  
    algo.fit(trainset)
    predictions = algo.test(testset)    
    rkf_results.append(accuracy.rmse(predictions, verbose=True))
    
print('\n KFold results:', kf_results)
print("\n LeaveOneOut results:",  loo_results) 
print("\n 'RepeatedKFold results:", rkf_results)

Estimating biases using als...
RMSE: 0.8618
Estimating biases using als...
RMSE: 0.8576
Estimating biases using als...
RMSE: 0.8575
Estimating biases using als...
RMSE: 0.8538
Estimating biases using als...
RMSE: 0.8685
Estimating biases using als...
RMSE: 0.8501
Estimating biases using als...
RMSE: 0.8477
Estimating biases using als...
RMSE: 0.8801
Estimating biases using als...
RMSE: 0.8813
Estimating biases using als...
RMSE: 0.8590
Estimating biases using als...
RMSE: 0.8639
Estimating biases using als...
RMSE: 0.8599
Estimating biases using als...
RMSE: 0.8620
Estimating biases using als...
RMSE: 0.8618
Estimating biases using als...
RMSE: 0.8643
Estimating biases using als...
RMSE: 0.8612
Estimating biases using als...
RMSE: 0.8619
Estimating biases using als...
RMSE: 0.8613
Estimating biases using als...
RMSE: 0.8637
Estimating biases using als...
RMSE: 0.8660
Estimating biases using als...
RMSE: 0.8565
Estimating biases using als...
RMSE: 0.8645
Estimating biases using als...
RMSE: 0.8642
Estimating biases using als...
RMSE: 0.8627
Estimating biases using als...
RMSE: 0.8589
Estimating biases using als...
RMSE: 0.8662
Estimating biases using als...
RMSE: 0.8588
Estimating biases using als...
RMSE: 0.8609
Estimating biases using als...
RMSE: 0.8641
Estimating biases using als...
RMSE: 0.8585
Estimating biases using als...
RMSE: 0.8645
Estimating biases using als...
RMSE: 0.8588
Estimating biases using als...
RMSE: 0.8643
Estimating biases using als...
RMSE: 0.8620
Estimating biases using als...
RMSE: 0.8619
Estimating biases using als...
RMSE: 0.8657
Estimating biases using als...
RMSE: 0.8592
Estimating biases using als...
RMSE: 0.8631
Estimating biases using als...
RMSE: 0.8568
Estimating biases using als...
RMSE: 0.8650

 KFold results: [0.8617933361711612, 0.8575742336445559, 0.8574967210918908, 0.853762040696982, 0.8684568351508712]

 LeaveOneOut results: [0.8501039471698906, 0.8477312176599817, 0.8800737006122635, 0.881261891093127, 0.858972293547129]

 'RepeatedKFold results: [0.8639178067661374, 0.8598546628224746, 0.8619712410910501, 0.8617659149621443, 0.8642965468366829, 0.8612018632288175, 0.8618611130363463, 0.8613071292514648, 0.863712926308125, 0.8660115262088361, 0.8564622991336448, 0.8645191617666171, 0.8642182031995418, 0.8627071872837402, 0.8589210410476272, 0.8661602586409717, 0.8587938579855438, 0.8608511456515224, 0.8640649641212466, 0.8585269896467814, 0.8644930583430279, 0.8587584139085068, 0.8643147871717329, 0.8620341544755609, 0.8619366944150021, 0.8656695501449142, 0.8592445498511652, 0.8630932861209462, 0.85677705669425, 0.8650020627020142]