In [2]:
#1
import pandas as pd
import numpy as np
data = pd.read_csv('ratings.csv')
data.head(10)

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4
5        1     2077       4
6        1     2487       4
7        1     2900       5
8        1     3662       4
9        1     3922       5

In [3]:
#3
data1 = pd.unique(data['user_id'])[0:1000]
print(data1[:5])
data1[-5:]

[ 314  439  588 1169 1185]

array([25761, 27011, 30768, 31729, 31782])

In [4]:
rating = data[data['user_id'].isin(data1)]
rating

        book_id  user_id  rating
0             1      314       5
1             1      439       3
2             1      588       5
3             1     1169       4
4             1     1185       4
...         ...      ...     ...
981587     9999     6097       2
981588     9999     6397       3
981624     9999    25812       5
981722    10000    34787       5
981737    10000    42810       3

[133434 rows x 3 columns]

In [6]:
from surprise import Reader
from surprise import Dataset
from surprise.model_selection import train_test_split
from surprise import KNNBasic
from surprise import KNNWithMeans
from surprise import KNNWithZScore
from surprise import accuracy


reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(rating[['user_id', 'book_id', 'rating']], reader)
trainset, testset = train_test_split(data, test_size=.25)

In [7]:
sim_options = {'name': 'cosine',
               'user_based': True}

for algoritm in KNNBasic, KNNWithMeans, KNNWithZScore:
    print (algoritm)
    algo = algoritm(sim_options=sim_options)
    algo.fit(trainset)
    predictions = algo.test(testset)
    accuracy.rmse(predictions)

<class 'surprise.prediction_algorithms.knns.KNNBasic'>
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.0050
<class 'surprise.prediction_algorithms.knns.KNNWithMeans'>
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 0.8806
<class 'surprise.prediction_algorithms.knns.KNNWithZScore'>
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 0.8786

In [8]:
bsl_options = {'method': 'als',
               'n_epochs': 20,}

algo = KNNBasic(bsl_options=bsl_options, sim_options=sim_options)
algo.fit(trainset)
predictions = algo.test(testset)
accuracy.rmse(predictions)

Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.0050

1.00495728429435